.containerMenu {
    background-image: url("../../assets/fondo.jpg");
    margin-top: -15px;
    width: 1920px;
    height: 1080px;
  }
  .title{
    width: 260px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    background-color: aliceblue;
    align-items: center;
   margin-top: 50px;
   box-shadow: 7px 1px 37px #000;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }