
.titleName{
  width: 300px;
  height: 53px;
  border: none;
  background-color: rgb(89, 165, 200);
  color: white;
}
.titleAdventages,.titleCategory{
  width: 200px;
  height: 33px;
  border: none;
  background-color: rgb(89, 165, 200);
  color: white;
}
.textDescription, .textAdventages{
  margin-left: 400px;
  margin-right: 400px;
}