.titleBenefits{
    width: 300px;
    height: 33px;
    border: none;
    background-color: rgb(89, 165, 200);
    color: white;
   
}
.titleAtributtes{
    width: 300px;
    height: 33px;
    border: none;
    background-color: rgb(89, 165, 200);
    color: white;
   
}
.titleCategoria{
    width: 300px;
    height: 33px;
    border: none;
    background-color: rgb(89, 165, 200);
    color: white;
   
}
