.tableAuditory {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tdAuditory,
.thAuditory,
.trAuditory {
  border: 2px solid #c7b6b6;
  text-align: left;
}
.userData {
  font-size: 20px;
  color: black;
}
.trAuditory:nth-child(even) {
  background-color: #ffffff;
}
