.inputFeedback {
    color: red;
    height: 5px;
    margin-top: -12px;
  }
  textarea{
    width:415px;
    border: 1px solid rgb(223, 220, 220);
  }
  .titleAddFood{
    width: 300px;
    height: 45px;
    margin-bottom: -50px;
    border: none;
    background-color: rgb(89, 165, 200);
    color: white;
  }